<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @list.description %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %>
<%= link_to 'Delete List', list_path(@list), method: 'delete' %>

<%= link_to 'Add Task', new_list_task_path(@list.id) %>

<% @list.tasks.each do |task| %>
  <p>Title: <%= task.title %></p>
  <p>Notes: <%= task.notes %></p>
  <p>Start Date: <%= task.start_date %></p>
  <p>Due Date: <%= task.due_date %></p>
  <p>Status: <%= task.status %></p>
<% end %>
