<% @tasks.each do |task| %>
  <p>Title: <%= task.title %></p>
  <p>Notes: <%= task.notes %></p>
  <p>Start Date: <%= task.start_date %></p>
  <p>Due Date: <%= task.due_date %></p>
  <p>Status: <%= task.status %></p>
<% end %>
